.sticky-btns {
    position: fixed;
    z-index: 50;
    right: -48px;
    bottom: 10px;
    -webkit-transition: right 0.3s ease;
    -moz-transition: right 0.3s ease;
    transition: right 0.3s ease;
}
.sticky-btns.scrolled {
    right: 3px;
}
.sticky-btns span {
    display: block;
    float: left;
    width: 42px;
    height: 42px;
    text-align: center;
    font-size: 1.25em;
    color: #fff;
    background: #ff1a13;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding-top: 6px;
    margin: 0 5px;
    cursor: pointer;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    transition: background 0.3s ease;
}
.sticky-btns span:hover {
    background: red;
}
.sticky-btns span#scrollTop-btn {
    padding-top: 5px;
}
.sticky-btns #qcf-btn.active {
    -webkit-border-radius: 0 0 4px 4px !important;
    -moz-border-radius: 0 0 4px 4px !important;
    border-radius: 0 0 4px 4px !important;
}
@media only screen and (max-width: 768px) {
    .sticky-btns #qcf-btn {
        display: none;
    }
}
.sticky-btns:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
.sticky-btns .quick-contact {
    display: none;
    width: 280px;
    bottom: 52px;
    left: -233px;
    position: absolute;
    padding: 12px 20px 24px 20px;
    background: #fff;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid #cecece;
}
.sticky-btns .quick-contact.visible {
    display: block;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.sticky-btns .quick-contact h3 {
    font-size: 1.375em;
    margin-bottom: 12px;
}
.sticky-btns .quick-contact p {
    margin-bottom: 12px;
}
.sticky-btns .quick-contact .form-group {
    margin-bottom: 12px;
}
.sticky-btns .quick-contact textarea {
    width: 238px;
    max-width: 238px;
    height: 90px;
    max-height: 90px;
    resize: none;
    overflow-y: auto;
}
.sticky-btns .quick-contact input[type=submit] {
    margin-top: 24px;
}
@media (min-width: 992px) {
    main, .container, .page-head, .gallery-container {
        padding-block-start:inherit;
        -moz-padding-start: inherit;
        -webkit-padding-start: inherit;
        padding-top: inherit;
    }
}

.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.gallery-container .item {
    width: 25%;
    margin-bottom: 20px;
    padding: 0 10px;
}
.gallery-container .item .photo {
    background: #ffffff;
}
.gallery-container .item .photo .img {
    position: relative;
}
.gallery-container .item .photo .img img {
    width: 100%;
}
.gallery-container .item .photo .img .over {
    top: 0;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(239, 98, 98, 0.8);
    -o-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
    -webkit-transition: opacity 300ms ease;
}
.gallery-container .item .photo .img .over .func {
    margin-top: -80px;
    position: relative;
    top: 50%;
    text-align: center;
    -webkit-transition: margin-top 200ms ease-in-out;
    -o-transition: margin-top 200ms ease-in-out;
    transition: margin-top 200ms ease-in-out;
}
.gallery-container .item .photo .img .over .func a {
    display: inline-block;
    height: 50px;
    margin-right: 2px;
    width: 50px;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}
.gallery-container .item .photo .img .over .func a:hover {
    background: rgba(255, 255, 255, 0.3);
}
.gallery-container .item .photo .img .over .func a i {
    font-size: 20px;
    color: #ffffff;
    line-height: 2.4;
}
.gallery-container .item .photo .img:hover .over {
    opacity: 1;
}
.gallery-container .item .photo .img:hover .over .func {
    margin-top: -25px;
}
.gallery-container .item .photo .description {
    line-height: 20px;
    display: table;
    width: 100%;
}
.gallery-container .item .photo .description .icon {
    display: table-cell;
    background-color: #e6e6e6;
    padding: 20px;
    vertical-align: middle;
    width: 20px;
}
.gallery-container .item .photo .description .icon a {
    color: #626262;
}
.gallery-container .item .photo .description .icon a i {
    font-size: 30px;
}
@media (max-width: 767px) {
    .gallery-container .item .photo .description .icon a i {
        font-size: 20px;
    }
}
.gallery-container .item .photo .description .icon a:hover {
    color: #ef6262;
}
@media (max-width: 767px) {
    .gallery-container .item .photo .description .icon {
        padding: 15px;
    }
}
.gallery-container .item .photo .description .desc {
    display: table-cell;
    padding: 10px 20px;
    vertical-align: middle;
}
.gallery-container .item .photo .description .desc h4 {
    margin: 0;
    font-size: 18px;
}
@media (max-width: 767px) {
    .gallery-container .item .photo .description .desc h4 {
        font-size: 15px;
    }
}
.gallery-container .item .photo .description .desc span {
    color: #8a8888;
    font-size: 12px;
    font-weight: 300;
}
@media (max-width: 767px) {
    .gallery-container .item .photo .description .desc {
        padding: 10px;
    }
}
.gallery-container .item.w2 {
    width: 50%;
}
@media (max-width: 767px) {
    .gallery-container {
        max-width: 767px;
    }
    .gallery-container .item {
        width: 100%;
        padding: 0;
    }
    .gallery-container .item.w2 {
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .gallery-container .item {
        width: 50%;
    }
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}
body{
    width: 100%;
}