<div class="container headtoolbar">
<div class="row">
    {#<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">#}
    {#&#123;&#35;<span class="navbar-toggler-icon"></span>&#35;&#125;Открыть контакты#}
    {#</button>#}
    {#<div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">#}
    <div class="col-md-4" style="display:contents">

        <img src="/img/icons/logo2.png" alt="IMG-LOGO">
        <a href="https://www.facebook.com/groups/190467651728576/" target="_blank" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-youtube-play"></a>
    </div>

				<span class="col-md-4">
                    <a title="Viber" href="viber://chat?number=+380950556886">Viber</a>
                    <a title="WhatsApp" href="whatsapp://send?phone=+380990805998">WhatsApp</a><br>
					+38 (095) 055-68-86<br>
                    +38 (099) 080-59-98
				</span>

    <div class="col-md-4">
        <p>Напишите нам</p>
					<span class="topbar-email">
						<a href="mailto:dreamhousesumy@gmail.com">dreamhousesumy@gmail.com</a>
					</span>

    </div>
    {#</div>#}
</div>
</div>